@font-face {
    font-family: 'Lato';
    src: url('fonts/Lato-Regular.ttf');
}
@font-face {
    font-family: 'Lato';
    src: url('fonts/Lato-Bold.ttf');
}


.root{
    -fx-font-family: 'Lato';
    -fx-font-size: 16;
}

.button {
    -fx-font-weight: bold;
    -fx-padding: 10;
    -fx-background-color: #aaaaaa;
    -fx-background-radius: 0;

}