@font-face {
    font-family: 'Lato';
    src: url('fonts/Lato-Regular.ttf');
}

@font-face {
    font-family: 'Lato';
    src: url('fonts/Lato-Bold.ttf');
}

* {
    -fx-font-family: 'Lato';
    -fx-text-fill: #222;
}

.main-padding {
    -fx-padding: 40px;
}

.background {
    -fx-background-color: #eee;
    -fx-background-radius: 10px;
    -fx-padding: 20px;
    -fx-spacing: 30px;
}

.title {
    -fx-font-weight: bold;
    -fx-font-size: 64px;
}

.main-menu-button {
    -fx-font-weight: bold;
    -fx-font-size: 32px;
    -fx-padding: 16px 32px;
    -fx-background-color: #73a1e3;
    -fx-background-radius: 10px;
}

.main-menu-button:hover {
    -fx-background-color: #5d82b6;
}

.main-menu-button:pressed {
    -fx-background-color: #4c6c98;
}

.root {
    -fx-background-image: url("ezra.jpg");
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
}


.selection-grid {
    -fx-alignment: center;
    -fx-hgap: 3px;
    -fx-vgap: 3px;
}

.selection-grid Button {
    -fx-font-size: 24px;
    -fx-font-weight: bold;

    -fx-min-height: 64px;
    -fx-max-width: 64px;

    -fx-background-color: #73a1e3;
    -fx-border-color: black;
}

.back-button {
    -fx-font-weight: bold;
    -fx-font-size: 16px;
    -fx-padding: 8px 16px;
    -fx-background-color: #f86464;
    -fx-background-radius: 10px;
}


.game-pane {
    -fx-alignment: center;
    -fx-text-alignment: center;
    -fx-column-halignment: center;
    -fx-row-valignment: center;
    -fx-hgap: 10px;
    -fx-vgap: 10px;
}

.board {
    -fx-background-color: #611919;
    -fx-padding: 20px;
}

.current-player {
    -fx-font-weight: bold;
    -fx-font-size: 32px;
    -fx-text-alignment: center;
}

.alarm-text {
    -fx-font-size: 32px;
    -fx-font-weight: bold;
    -fx-text-fill: #f00;
    -fx-background-color: red;
}

.timer-bg {
    -fx-background-color: #999;
    -fx-alignment: center;
    -fx-max-width: 200px;
    -fx-padding: 10px 20px;
}

.timer-text {
    -fx-font-weight: bold;
    -fx-font-size: 24px;
    -fx-text-alignment: center;
}

.timer-bg-white {
    -fx-background-radius: 20px 0 0 20px;
    -fx-border-radius: 20px 0 0 20px;
}

.timer-bg-black {
    -fx-background-radius: 0 20px 20px 0;
    -fx-border-radius: 0 20px 20px 0;
}

.timer-current {
    -fx-border-color: red;
    -fx-border-width: 3px;
    -fx-background-color: #eee;
    /*-fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 10, 0.5, 5, 5);*/
}

.check-bg {
    -fx-background-color: red;
    -fx-alignment: center;
    -fx-max-width: 200px;
    -fx-padding: 10px 20px;
}
.check-text {
    -fx-font-weight: bold;
    -fx-font-size: 24px;
    -fx-text-alignment: center;
}